<div class="span9 row">
  <div class="span3">
    <div class="thumbnail pull-left">
      <%= image_tag "#{@user.card.photo}" %>
    </div>
  </div>
  <div class= "span5">
    <div class="row">
    <h1> <%= @card.first_name %> <%= @card.last_name %> </h1>
    <div>
    <ul><li>
      <h2>
        Email: <%= @card.email %>
    </h2>
    </li>
      <%= render @card.contact_types %>
    </ul>
  </div>

</div>
<div class='span9 row'>
  <%= render "skills/index" %>
</div>
<div class='span9 row'>
  <%= render 'experiences/index' %>
</div>
<div class='span9'>
  <%= render 'educations/index' %>
</div>
<div class='span9'>
  <%= render 'languages/index' %>
</div>

