.row
  .col-md-3
    .thumbnail.pull-left
      = image_tag "#{@user.card.photo}"
  .col-md-9
    %h1
      = @card.first_name
      = @card.last_name
    %div
      %ul.unstyled
        %li
          %h2
            Email: #{@card.email}
        = render @card.contact_types
.row
  = render "skills/index"
.row
  = render 'experiences/index'
.row
  = render 'educations/index'
.row
  = render 'languages/index'
.row
  = render 'hobbies/index'
