.period.col-md-4.row
  %h4
    = "#{experience.from_date} - #{experience.to_date}"
.col-md-8.row
  .bigspacing
    %header
      %h3= experience.role
      = experience.company_name
    %p= experience.description
