<div class="control-group">
  <label class="control-label" for="tittle">Tittle</label>
  <div class="controls">
    {{view Ember.TextArea valueBinding="tittle" id="tittle" placeholder="Company name"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="role">Role</label>
  <div class="controls">
    {{view Ember.TextArea valueBinding="role" id="role" placeholder="Artist?"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="fromDate">From date</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="fromDate" id="fromDate" placeholder="From date" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="toDate">To date</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="toDate" id="toDate" placeholder="To date" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="description">Notes</label>
  <div class="controls">
    {{view Ember.TextArea valueBinding="description" id="description" placeholder="Notes"}}
  </div>
</div>
