<div class="container-fluid" id="main">
  <div class="row-fluid">
    <button class="btn btn-success" type="submit" {{action ok}}>Show my CV!</button>
    {{render 'card'}}
    {{render 'skills'}}
    {{render 'experiences'}}
    {{render 'educations'}}
    {{render 'languages'}}
    {{render 'hobbies'}}
    {{ outlet }}
  </div>
</div>
