<div class="container-fluid" id="main">
  <div class="row-fluid">
    {{render 'card'}}
    {{render 'skills'}}
    {{render 'experiences'}}
    {{render 'educations'}}
    {{render 'languages'}}
    {{render 'hobbys'}}
    {{ outlet }}
  </div>
</div>
