<div class="container-fluid" id="main">
  <div class="row-fluid">
    {{#if App.currentUser }}
      {{#if clickable }}
      <button class="btn btn-success" type="submit" {{action ok}}>Show my CV!</button>
      {{else}}
      <div class="clone-url-box">
        <h4>Your CV address is:
          {{view App.CopyToClipboard}}</h4>
      </div>
      <button class="btn" type="submit" {{action edit}}>Back to edit</button>
      <button class="btn btn-success" type="submit" {{action savePDF}}>Download as PDF</button>
      {{/if}}
      <div id='content'>
        {{render 'card'}}
        {{render 'skills'}}
        {{render 'experiences'}}
        {{render 'educations'}}
        {{render 'languages'}}
        {{render 'hobbies'}}
      </div>
    {{else}}
    {{/if}}
    {{ outlet }}
  </div>
</div>
