<div class="container" id="main">
  {{#if App.currentUser }}
    {{#if clickable }}
      <div class='col-md-12'>
        <button class="btn btn-success" type="submit" {{action ok}}>Show my CV!</button>
      </div>
  {{else}}
    <div class="col-md-offset-4 clone-url-box">
      <h4>Your CV address is:
        {{view App.CopyToClipboard}}
      </h4>
    </div>
    
    <div class='col-md-12'><button class="btn" type="submit" {{action edit}}>Back to edit</button>
    </div>  {{/if}}
  <div id='content col-md-12'>
    {{render 'card'}}
    {{render 'skills'}}
    {{render 'experiences'}}
    {{render 'educations'}}
    {{render 'languages'}}
    {{render 'hobbies'}}
  </div>
  {{else}}
  {{/if}}
  {{ outlet }}
  {{#if App.currentUser}}
  {{#unless clickable }}
  <p>
  <div class='col=md-offset-2'><button class="btn" type="submit" {{action edit}}>Back to edit</button>
  </p>
  {{/unless}}
  {{/if}}
</div>
