<div class="col-md-12 clearfix border-bottom" id="personal_profile">
  <div class="col-md-8">
    {{#view App.FocusView }}
      <h1>{{firstName}} {{lastName}} </h1>
      <h3>Email: {{email}} </h3>
      {{#each contactTypes}}
      <h3>{{ name }}: {{number}} </h3>
      {{/each}}
    {{/view}}
  </div>
  <div class='col-md-4 pull-right'>
    {{#if clickable}}
      {{view App.UploadPhotoView cardBinding='this' }}
    {{else}}
      {{#if photoUrl }}
        <img {{bindAttr src='photoUrl' }} class = 'img-polaroid' />
      {{else}}
        <img  src='assets/no-photo.png' class = 'img-polaroid' />
      {{/if}}
    {{/if}}
  </div>
</div>
