<div class="span12 border-bottom personal_profile">
  <div class="span8">
    {{#view App.FocusView }}
    <div class='span6'>
      <h1>{{firstName}} {{lastName}} </h1>
      <h3>Email: {{email}} </h3>
      {{#each contactTypes}}
      <h3>{{ name }}: {{number}} </h3>
      {{/each}}
  </div>
    {{/view}}
  </div>
  <div class='span4 pull-right'>
    {{view App.UploadPhotoView cardBinding='this' }}
  </div>
</div>
