<div class='control-group'>
  <img {{bindAttr src='photoUrl' }} />
  {{view App.UploadPhotoView cardBinding='this' }}
</div>
{{#view App.FocusView }}
<div class="span12">
  <div class="well sidebar-nav">
    <ul>
    <li class="nav-header">Personal Information2</li>
    <li>First Name: {{firstName}} </li>
    <li>Last Name: {{lastName}} </li>
    <li>Email: {{email}} </li>
    {{#each contactTypes}}
    <li>{{ name }}: {{number}} </li>
    {{/each}}
  </ul>
</div>
</div>
{{/view}}
