{{#if controllers.application.clickable }}
{{#linkTo "education" education}}
<div class='row clickable'>
  <div class='col-md-3'>
    {{education.dateRange}}
  </div>
  <div class='col-md-9'>
    {{education.fullName}}
  </div>
</div>
{{/linkTo}}
{{else}}
<div class='row clickable'>
  <div class='col-md-3'>
    {{education.dateRange}}
  </div>
  <div class='col-md-9'>
    {{education.fullName}}
  </div>
</div>
{{/if}}
