{{#if controllers.application.clickable }}
{{#view App.FocusView object=education }}
  <div class='col-md-3'>
    <p>
    {{education.dateRange}}
    </p>
  </div>
  <div class='col-md-9'>
    <p>
    {{education.fullName}}
    </p>
  </div>
{{/view}}
{{else}}

<div class='col-md-3'>
  {{education.dateRange}}
</div>
<div class='col-md-9'>
  <p>
    {{education.fullName}}
  </p>
</div>
{{/if}}
