{{#if controllers.application.clickable }}
{{#view App.FocusView object=education }}
  <div class='col-md-4'>
    <p>
    {{education.dateRange}}
    </p>
  </div>
  <div class='col-md-8'>
    <p>
    {{education.fullName}}
    </p>
  </div>
{{/view}}
{{else}}
<div class='row clickable'>
  <div class='col-md-4'>
    {{education.dateRange}}
  </div>
  <div class='col-md-8'>
    {{education.fullName}}
  </div>
</div>
{{/if}}
