{{#if controllers.application.clickable }}
{{#view App.FocusView object=experience }}
<div class='col-md-3 clickable'>
  <p>
  {{ experience.dateRange }}
  </p>
</div>
<div class='col-md-9'>
  {{#if experience.companyName}}
  <p>
    <strong>
      {{ experience.companyName }}
    </strong>
  </p>
  {{/if}}
  {{#if experience.role}}
  <p>
    <strong>
      {{ experience.role }}
    </strong>
  </p>
  {{/if}}
  {{ experience.description }}
</div>
{{/view}}
{{else}}
<div class='col-md-3'>
  {{experience.dateRange}}
</div>
<div class='col-md-9'>
  {{experience.fullname}}
  {{#if experience.companyName}}
  <p>
    <strong>
      {{ experience.companyName }}
    </strong>
  </p>
  {{/if}}
  {{#if experience.role}}
  <p>
    <string>
      {{ experience.role }}
    </string>
  </p>
  {{/if}}
  {{ experience.description }}
</div>
{{/if}}
