{{#if controllers.application.clickable }}
{{#view App.FocusView object=experience }}
<div class='col-md-4 clickable'>
  <p>
  {{ experience.dateRange }}
  </p>
</div>
<div class='col-md-8'>
  {{experience.fullname}}
  {{#if experience.role}}
    <p>
      {{ experience.role }}
    </p>
  {{/if}}
  {{ experience.description }}
</div>
{{/view}}
{{else}}
<div class='col-md-4'>
  {{experience.dateRange}}
</div>
<div class='col-md-8'>
  {{experience.fullname}}
  {{ experience.description }}
</div>
{{/if}}
