<button class="btn btn-success" type="submit" {{action savePDF}}>Download as PDF</button>
{{render 'card'}}
{{render 'skills'}}
{{render 'experiences'}}
{{render 'educations'}}
{{render 'languages'}}
{{render 'hobbies'}}
