<div class="modal-header">
  <div class="button close btn-dismiss" {{action ok}}>x</div>
  <h3 class="app-icon-large">Edit your key skills</h3>
</div>
<div class="modal-body">
<div class="span12">
  <form {{action save on="submit"}} class="form-horizontal">

    <div class="control-group">
      <label class="control-label" for="description">Add new skill</label>
      <div class="controls">

        <div class="control-group">
      {{view Ember.TextField id="new-todo" placeholder="What needs to be done?"
             valueBinding="newName" action="createSkill"}}
             <a class="btn" {{action createSkill}}><i class="icon-plus-sign"></i> Add a contact type </a>
           </div>

        {{#each controller}}
            {{view Ember.TextField valueBinding="name" placeholder="diving, driving ect"}}
            <a  {{action removeSkill this}}><i class="icon-remove icon-red"></i></a>
        {{/each}}
      </div>
    </div>

  </form>
</div>

</div>
<div class="modal-footer">
  <button class="btn btn-success" type="submit" {{action ok}}>OK</button>
</div>
