.navbar-wrapper
  .navbar.navbar-inverse
    .navbar-header
      %a.navbar-brand{:href => authenticated_root_path} cvPrego
      %button.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse.pull-right
      %ul.navbar-nav.nav
        - if current_user
          %p.navbar-text
            =current_user.email
          %li= link_to 'Sign-out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Sign-in', "#login-form",  :'data-toggle' => :modal
          %li
            = link_to 'Sign-up', "#signup-form", 'data-toggle' => "modal"
#login-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Sign-in", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#signIn Sign in
      .modal-body
        = render :file => 'devise/sessions/new'
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
#signup-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Sign-up", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#signup Sign-up
      .modal-body
        = render :file => 'devise/registrations/new'
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
