<div class="navbar-wrapper">
<div class="container">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">OpenCV</a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <% if current_user %>
            <li><%= link_to 'Sign-out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign-in', "#login-form",  :'data-toggle' => :modal %> </li>
            <li><%= link_to 'Sign-up', "#signup-form", 'data-toggle' => "modal" %> </li>
          <%end %>
        </ul>
      </div>
    </div>
  </div>

</div>
</div>

<div id="login-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Sign-in" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="signIn">Modal header</h3>
  </div>
  <div class="modal-body">
    <%=render :file => 'devise/sessions/new' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>


<div id="signup-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Sign-up" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="signup">Sign-up</h3>
  </div>
  <div class="modal-body">
    <%=render :file => 'devise/registrations/new' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
