!!!
%html
  %head
    %title Opencv
    - if user_signed_in?
      %meta{:content => UserSerializer.new(current_user).to_json(root: false), :name => "current-user"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
  %body
    .container
      = render 'navigation'
      = yield
    =render 'footer'
